[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = {file = "https://download.pytorch.org/whl/cu121/torch-2.1.2%2Bcu121-cp311-cp311-linux_x86_64.whl"}
torchvision = {file = "https://download.pytorch.org/whl/cu121/torchvision-0.16.2%2Bcu121-cp311-cp311-linux_x86_64.whl"}
opencv-python-headless = "*"
jpeg4py = "*"
matplotlib = "*"
kornia = "*"
tqdm = "*"
scikit-learn = "*"
joblib = "*"
timm = "*"
addict = "*"
tensorboard = "*"
pytorch-memlab = "*"
torchmetrics = "*"
faster-coco-eval = "*"

[dev-packages]
ipdb = "*"

[requires]
python_version = "3.11"
